@import "../../shared-imports/vars.less";

.jw-auto-starttime-toast {
    position: absolute;
    // top: 8px;
    // left: 12px;
    color: #fff;
    font-size: 0.75em;
    line-height: 1.4;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease, bottom 0.25s ease-in-out;
    left: 12px;
    bottom: 57px;
    padding: 8px 12px;
    background: @rightclick-bg;
}

.jw-flag-ads-vpaid,
.jw-flag-user-inactive.jw-state-playing,
.jw-flag-user-inactive.jw-state-buffering {
    &:not(.jw-flag-media-audio):not(.jw-flag-audio-player):not(.jw-flag-ads-vpaid-controls):not(.jw-flag-casting) {
        & .jw-auto-starttime-toast {
            top: auto;
            bottom: 12px;
        }
    }
}

.jw-auto-starttime-toast--visible,
.jw-auto-starttime-toast[data-state="visible"] {
    opacity: 1;
    visibility: visible;
}

.jw-auto-starttime-toast[data-state="hidden"] {
    opacity: 0;
    visibility: hidden;
}

.jw-breakpoint-1 {
    .jw-auto-starttime-toast {
        top: 8px;
        bottom: auto;
        padding: 8px 12px;
        background: none;
    }

    &.jw-flag-ads-vpaid,
    &.jw-flag-user-inactive.jw-state-playing,
    &.jw-flag-user-inactive.jw-state-buffering {
        &:not(.jw-flag-media-audio):not(.jw-flag-audio-player):not(.jw-flag-ads-vpaid-controls):not(.jw-flag-casting) {
            & .jw-auto-starttime-toast {
                top: 8px;
                bottom: auto;
            }
        }
    }
}
// override cho breakpoint 7
.jw-breakpoint-7 {
    .jw-auto-starttime-toast {
        top: auto;
        left: 60px;
        bottom: 130px;
        font-size: 1em;
        padding: 8px 12px;
        background: @rightclick-bg;
    }

    &.jw-flag-ads-vpaid,
    &.jw-flag-user-inactive.jw-state-playing,
    &.jw-flag-user-inactive.jw-state-buffering {
        &:not(.jw-flag-media-audio):not(.jw-flag-audio-player):not(.jw-flag-ads-vpaid-controls):not(.jw-flag-casting) {
            .jw-auto-starttime-toast {
                top: auto;
                bottom: 68px;
            }
        }
    }
}

// trạng thái controlbar ẩn hoặc ads → toast sát đáy
